@model Zebra.ViewModels.View.AdminCategory.VMAdminShopIndex


<div style="margin:30px">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Shop.Name)</b></td>
                <td>@Html.DisplayFor(model => model.Shop.Name)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Shop.Phone)</b></td>
                <td>@Html.DisplayFor(model => model.Shop.Phone)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Shop.Email)</b></td>
                <td>@Html.DisplayFor(model => model.Shop.Email)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Shop.NIP)</b></td>
                <td>@Html.DisplayFor(model => model.Shop.NIP)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Shop.Regon)</b></td>
                <td>@Html.DisplayFor(model => model.Shop.Regon)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Shop.Localization.Address)</b></td>
                <td>@Html.DisplayFor(model => model.Shop.Localization.Address)</td>
            </tr>

        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>