@model Zebra.ViewModels.AdminCategory.Common.VMDelivery

@using (Html.BeginForm("Create", "AdminDelivery", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.DeliveryId)
    <h5 class="mdl-dialog__title">Dodaj nową formę dostawy</h5>
    <div class="mdl-dialog__content">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.LabelFor(model => model.DeliveryTimeMin, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.EditorFor(model => model.DeliveryTimeMin, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.ValidationMessageFor(model => model.DeliveryTimeMin, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.LabelFor(model => model.DeliveryTimeMax, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.EditorFor(model => model.DeliveryTimeMax, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.ValidationMessageFor(model => model.DeliveryTimeMax, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="mdl-dialog__actions">
        <button type="submit" class="btn btn-success closeDialog">Zapisz</button>
    </div>
}
